<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Simple Blog</title>
    @RenderSection("JavaScript", required:false)
</head>
<body>
    <h1>This is from layout</h1>
    @RenderBody()
</body>
</html>
